button{
    width:250px;
    height: 80px;
    font-family: Roboto, sans-serif;
    font-size: 35px;
    font-weight: bold;
    color:antiquewhite;
    border: 2px solid rgb(48, 46, 46);
    border-radius: 15px;
    margin: 5px 60px;
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
button:hover{
    background-color: #49ab6e;
}
.boton-clic{
    background-color: rgb(111, 199, 205);
}
.boton-reiniciar{
    background-color: rgb(208, 150, 216);
}